<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cartoon.passwordmanager">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".util.PasswordManagerApplication">
        <activity android:name=".Password.Main.Main"
            android:launchMode="singleTask"/>
        <activity android:name=".Password.AddPassword.AddPassword"
            android:launchMode="singleTask"/>
        <activity android:name=".PersonalInformation.login.Login"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PersonalInformation.Register.Register"
            android:launchMode="singleTask"/>
        <activity android:name=".PersonalInformation.RevampPassword.InformationRevampPassword"
            android:launchMode="singleTask"/>
        <activity android:name=".PersonalInformation.RevampQuestion.InformationRevampQuestion"
            android:launchMode="singleTask"/>
        <activity android:name=".Password.Details.PasswordDetails"
            android:launchMode="singleTask"/>
        <activity android:name=".Password.Revamp.PasswordRevamp"
            android:launchMode="singleTask"/>
    </application>
</manifest>
